In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from sklearn.preprocessing import OneHotEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
df = pd.read_csv('C:\\Users\\Minh Chi\\Downloads\\boDuLieu\\lap 6\\Market_Basket_AR.csv')
df.head(5)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   shrimp             7500 non-null   object
 1   almonds            5746 non-null   object
 2   avocado            4388 non-null   object
 3   vegetables mix     3344 non-null   object
 4   green grapes       2528 non-null   object
 5   whole weat flour   1863 non-null   object
 6   yams               1368 non-null   object
 7   cottage cheese     980 non-null    object
 8   energy drink       653 non-null    object
 9   tomato juice       394 non-null    object
 10  low fat yogurt     255 non-null    object
 11  green tea          153 non-null    object
 12  honey              86 non-null     object
 13  salad              46 non-null     object
 14  mineral water      24 non-null     object
 15  salmon             7 non-null      object
 16  antioxydant juice  3 non-null      object
 17  frozen smoothie    3 non-null      object
 18  spinach            2 non-null      object
 19  olive oil          0 non-null      float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB

In [ ]:
#chuẩn hóa one-hot encoding

# 2) Chọn các cột cần one-hot (ví dụ: object hoặc category)
cat_cols = df.select_dtypes(include=['object', 'category']).columns.tolist()
# Dùng scikit-learn OneHotEncoder (dễ tích hợp pipeline) 
encoder  = OneHotEncoder(sparse_output=False)
# Fit & transform chỉ trên cột phân loại
one_hot_encoded  = encoder.fit_transform(df[cat_cols])

# Tạo DataFrame one-hot với tên cột rõ ràng
one_hot_df  = pd.DataFrame(
    one_hot_encoded,
    columns=encoder.get_feature_names_out(cat_cols),
    index=df.index
)

# Nối lại với các cột số nguyên, số thực ban đầu và xoá cột gốc
df_encoded = pd.concat([df, one_hot_df], axis=1)

df_encoded = df_encoded.drop(cat_cols, axis=1)
df_encoded.head(10)
df_encoded['shrimp_almonds']

shrimp_almonds
0.0    7489
1.0      11
Name: count, dtype: int64

In [18]:
df_encoded.drop('olive oil', axis=1, inplace=True)

In [20]:
frequren_items = apriori(df_encoded, min_support=0.7, use_colnames=True)
frequren_items

d:\learn_PyThon\.venv\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

        support                                           itemsets
0      0.751600                             (whole weat flour_nan)
1      0.817600                                         (yams_nan)
2      0.869333                               (cottage cheese_nan)
3      0.912933                                 (energy drink_nan)
4      0.947467                                 (tomato juice_nan)
...         ...                                                ...
16378  0.751600  (salmon_nan, tomato juice_nan, frozen smoothie...
16379  0.751600  (salmon_nan, energy drink_nan, tomato juice_na...
16380  0.751600  (salmon_nan, energy drink_nan, tomato juice_na...
16381  0.817600  (salmon_nan, energy drink_nan, tomato juice_na...
16382  0.751600  (salmon_nan, energy drink_nan, tomato juice_na...

[16383 rows x 2 columns]

In [21]:
rules = association_rules(frequren_items, metric='confidence', min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(whole weat flour_nan),(yams_nan),0.751600,0.817600,0.7516,1.000000,1.223092,1.0,0.137092,inf,0.734300,0.919276,1.000000,0.959638
1,(yams_nan),(whole weat flour_nan),0.817600,0.751600,0.7516,0.919276,1.223092,1.0,0.137092,3.077149,1.000000,0.919276,0.675024,0.959638
2,(whole weat flour_nan),(cottage cheese_nan),0.751600,0.869333,0.7516,1.000000,1.150307,1.0,0.098209,inf,0.526033,0.864571,1.000000,0.932285
3,(cottage cheese_nan),(whole weat flour_nan),0.869333,0.751600,0.7516,0.864571,1.150307,1.0,0.098209,1.834165,1.000000,0.864571,0.454793,0.932285
4,(whole weat flour_nan),(energy drink_nan),0.751600,0.912933,0.7516,1.000000,1.095370,1.0,0.065439,inf,0.350510,0.823280,1.000000,0.911640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4750197,(antioxydant juice_nan),"(salmon_nan, energy drink_nan, tomato juice_na...",0.999600,0.751600,0.7516,0.751901,1.000400,1.0,0.000301,1.001212,1.000000,0.751901,0.001211,0.875950
4750198,(whole weat flour_nan),"(salmon_nan, energy drink_nan, tomato juice_na...",0.751600,0.817600,0.7516,1.000000,1.223092,1.0,0.137092,inf,0.734300,0.919276,1.000000,0.959638
4750199,(salad_nan),"(salmon_nan, energy drink_nan, tomato juice_na...",0.993867,0.751600,0.7516,0.756238,1.006171,1.0,0.004610,1.019028,1.000000,0.756238,0.018673,0.878119
4750200,(yams_nan),"(salmon_nan, energy drink_nan, tomato juice_na...",0.817600,0.751600,0.7516,0.919276,1.223092,1.0,0.137092,3.077149,1.000000,0.919276,0.675024,0.959638
4750201,(spinach_nan),"(salmon_nan, energy drink_nan, tomato juice_na...",0.999733,0.751600,0.7516,0.751800,1.000267,1.0,0.000200,1.000808,1.000000,0.751800,0.000807,0.875900