In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\Minh Chi\\Downloads\\boDuLieu\\lap 6\\Market_Basket_AR.csv')

In [9]:
df.head(5)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# #chuyen data ve dang 0 1
df_ohe = df.notnull().astype(int) # nhìn dữ liệu thay vì dùng filler cụ thể missing rồi one-hot phức tạp thì nên dung 
# #cụ thể đây là dữ liệu có mỗi tên mặt hàng
# # nếu khác mua thì có tên k mua thì NaN
df_ohe

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7496,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7497,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7498,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7499,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
df_ohe.shape

(7500, 20)

In [18]:
from mlxtend.frequent_patterns import apriori, association_rules
#tim tập xuất hiện thường xuyên với min_support = 50%
frenquent_items = apriori(df_ohe, min_support=0.5, use_colnames=True)
frenquent_items

d:\learn_PyThon\.venv\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                    itemsets
0  1.000000                    (shrimp)
1  0.766133                   (almonds)
2  0.585067                   (avocado)
3  0.766133           (almonds, shrimp)
4  0.585067           (shrimp, avocado)
5  0.585067          (almonds, avocado)
6  0.585067  (almonds, shrimp, avocado)

In [17]:
#sinh luật kết hợp với độ tin cậy 80%   
rules = association_rules(frenquent_items, metric='confidence', min_threshold= 0.8)
rules

d:\learn_PyThon\.venv\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(almonds),(shrimp),0.766133,1.000000,0.766133,1.0,1.000000,1.0,0.000000,inf,0.000000,0.766133,0.0,0.883067
1,(avocado),(shrimp),0.585067,1.000000,0.585067,1.0,1.000000,1.0,0.000000,inf,0.000000,0.585067,0.0,0.792533
2,(avocado),(almonds),0.585067,0.766133,0.585067,1.0,1.305256,1.0,0.136828,inf,0.563625,0.763662,1.0,0.881831
3,"(almonds, avocado)",(shrimp),0.585067,1.000000,0.585067,1.0,1.000000,1.0,0.000000,inf,0.000000,0.585067,0.0,0.792533
4,"(shrimp, avocado)",(almonds),0.585067,0.766133,0.585067,1.0,1.305256,1.0,0.136828,inf,0.563625,0.763662,1.0,0.881831
5,(avocado),"(almonds, shrimp)",0.585067,0.766133,0.585067,1.0,1.305256,1.0,0.136828,inf,0.563625,0.763662,1.0,0.881831

In [19]:
rules[(rules['lift'] > 1) & 
      (rules['confidence'] >= 0.7)].sort_values(['confidence'], ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
2,(avocado),(almonds),0.585067,0.766133,0.585067,1.0,1.305256,1.0,0.136828,inf,0.563625,0.763662,1.0,0.881831
3,"(shrimp, avocado)",(almonds),0.585067,0.766133,0.585067,1.0,1.305256,1.0,0.136828,inf,0.563625,0.763662,1.0,0.881831
5,(avocado),"(shrimp, almonds)",0.585067,0.766133,0.585067,1.0,1.305256,1.0,0.136828,inf,0.563625,0.763662,1.0,0.881831

In [24]:
# làm đối với fb-growth
from mlxtend.frequent_patterns import fpgrowth, association_rules

#làm tương tự với dộ hộ trợ và tin cậy giống trên 40% và 70%
frenquent_items_fp = fpgrowth(df_ohe, min_support=0.4, use_colnames=True)
frenquent_items_fp

     support                                    itemsets
0   1.000000                                    (shrimp)
1   0.766133                                   (almonds)
2   0.585067                                   (avocado)
3   0.445867                            (vegetables mix)
4   0.766133                           (shrimp, almonds)
5   0.585067                           (shrimp, avocado)
6   0.445867                    (shrimp, vegetables mix)
7   0.585067                          (almonds, avocado)
8   0.445867                   (almonds, vegetables mix)
9   0.445867                   (vegetables mix, avocado)
10  0.585067                  (shrimp, almonds, avocado)
11  0.445867           (shrimp, almonds, vegetables mix)
12  0.445867           (shrimp, vegetables mix, avocado)
13  0.445867          (almonds, vegetables mix, avocado)
14  0.445867  (shrimp, almonds, vegetables mix, avocado)

In [1]:
rules_fp = association_rules(frenquent_items_fp, metric='confidence', min_threshold=0.8)
rules_fp

NameError: name 'association_rules' is not defined